@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#2a5298, #afdcef 100%);
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color-scheme: light dark;
  align-items: center;
}
